<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Kaikki treenaajat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-primary">Treenaajat</h1>
    </div>

    <table class="table table-light table-striped table-bordered table-sm">
        <tr class="table-primary">
            <th scope="col">Etunimi</th>
            <th scope="col">Sukunimi</th>
            <th scope="col">Koira(t)</th>
        </tr>
        <tbody class="table-group-divider">
            <tr th:each="trainer : ${trainers}">
                <td th:text="${trainer.firstName}"></td>
                <td th:text="${trainer.lastName}"></td>
                <td>
                    <ul>
                        <li th:each="dog : ${trainer.dogs}" th:text="${dog.name}"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
        <tr th:if="${#lists.isEmpty(trainers)}">
            <td colspan="3">Ei treenaajia</td>

        </tr>
    </table>
    <div class="text-center mt-4">
        <a href="/main" class="btn btn-outline-primary px-4">Takaisin</a>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>